code {
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans,
        sans-serif;
    white-space: pre;
}

pre {
    padding: 0.6rem 0.8rem;
    white-space: pre;
}

pre > code {
    word-wrap: normal;
    white-space: pre-wrap;
}
.interactive {
    position: relative;
}
@media screen and (max-width: 600px) {
    .interactive {
        overflow: scroll;
    }
}

.code-launcher {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(1);
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .code-launcher {
        display: none;
    }
}
code.monaco-editor {
    background-color: transparent;
}
