
table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
    max-width: calc(100% - (1.6rem));
}

table,
tbody,
tfoot,
thead {
    margin: 0.6rem 0.8rem;
}

table > caption {
    padding: 0.6rem 0.8rem;
}

th,
td {
    padding: 0.3rem 0.4rem;
}

thead th,
thead td,
tfoot th,
tfoot td {
    padding: 0.6rem 0.4rem;
    text-align: left;
}

thead th,
thead td {
    font-weight: bold;
}

table td:last-child {
    width: 100%;
}
th {
    border-bottom: solid 2px #222;
}
tr > td {
    border-bottom: solid thin gray;
    padding: 0.6rem 1.2rem;
    vertical-align: middle;
    min-width: 160px;
}
tbody > tr > td:first-child {
    border-left: solid thin lightgray;
}
tbody > tr > td:last-child {
    border-right: solid thin lightgray;
}
tr:nth-child(2n-1) > td {
    background-color: #ececec;
}
dl {
    padding: 0.6rem 0.8rem;
}

ol,
ul,
dl {
    margin: 1rem 0;
}

li {
    padding: 0.3rem 0;
}
