<html>

<head>
    <style>
        .example {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        .example * {
            position: relative;
        }

        h1 {
            font-family: Arial;
            font-size: 27pt;
        }
    </style>
    <script src="https://unpkg.com/tweenrex/dist/tweenrex-all.min.js"></script>
    <script src="https://unpkg.com/just-curves/dist/just-curves.min.js"></script>
    <script src="https://unpkg.com/polymorph-js/dist/polymorph.min.js"></script>
    <script>window.addEventListener('load', function () { $contents })</script>
</head>

<body class="example">
    <div>
        <img class="wrex" width="200" height="200" src="images/wrex.png" />
    </div>
</body>

</html>
